*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./icono/fondo.jpg);
    background-size: auto;
}

nav{
    font-family: 'Parisienne', cursive;
    text-align: center;
    color: white;
    background: #cececa;
    padding: 15px;
    font-size: 20px;
}

.areaDeTexto{
        width:325px;
        height: 325px;
        margin: 20px auto;
}

button, input{
    width: 80px;
    height: 40px;
    color: #808080;
    background:#ffe6f7;
    border: 1px dashed #ff4da6;
    text-align: center;
    font-size: 14px;
}